In [3]:
a=[1,7,2]
myvar=pd.Series(a,index=["x","y","z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [5]:
gt=series>25
print("series>25=\n",gt)
series_multiplied=series*2
print("\nSeries after Scalar Multiplication:\n",series_multiplied)

series>25=
 0    False
1    False
2     True
3     True
dtype: bool

Series after Scalar Multiplication:
 0    20
1    40
2    60
3    80
dtype: int64

In [6]:
import numpy as np
print("series=\n",series)
series_sqrt=np.sqrt(series)
print("\nSeries after Applying Square Root:\n",series_sqrt)

series=
 0    10
1    20
2    30
3    40
dtype: int64

Series after Applying Square Root:
 0    3.162278
1    4.472136
2    5.477226
3    6.324555
dtype: float64

In [7]:
import pandas as pd
data={
    "calories":[433,454,437],
    "duration":[59,30,20]
}
df=pd.DataFrame(data)
print(df)

   calories  duration
0       433        59
1       454        30
2       437        20

In [8]:
data={'state':['ohio','ohio','ohio','ohio'],
      'year':[2000,2000,2000,2000],
      'pop':[1.2,1.5,1.7,1.7]}
frame=pd.DataFrame(data)
print(frame)

  state  year  pop
0  ohio  2000  1.2
1  ohio  2000  1.5
2  ohio  2000  1.7
3  ohio  2000  1.7

In [11]:
frame=pd.DataFrame(data,columns=['year','state','pop'])
print(frame)

   year state  pop
0  2000  ohio  1.2
1  2000  ohio  1.5
2  2000  ohio  1.7
3  2000  ohio  1.7

In [15]:
obj=pd.Series([4.5,7.2,-5.3,3.5],index=['d','b','a','c'])
print(obj)

d    4.5
b    7.2
a   -5.3
c    3.5
dtype: float64

In [17]:
obj2=obj.reindex(['a','b','c','d','e'])
obj2

a   -5.3
b    7.2
c    3.5
d    4.5
e    NaN
dtype: float64

In [21]:
obj3=pd.Series(['blue','purple','yellow',],index=[0,2,5])
print(obj3)
obj4=obj3.reindex(range(6),method='ffill')
obj4

0      blue
2    purple
5    yellow
dtype: object

0      blue
1      blue
2    purple
3    purple
4    purple
5    yellow
dtype: object

In [22]:
obj5=obj3.reindex(range(6),method='bfill')
print("\nMethod 'bfill':")
print(obj5)

Method 'bfill':
0      blue
1    purple
2    purple
3    yellow
4    yellow
5    yellow
dtype: object

In [23]:
obj=pd.Series(np.arange(5.),index=['a','b','c','d','e'])
new_obj=obj.drop('c')
print(new_obj)
obj.drop(['d','c'])

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

a    0.0
b    1.0
e    4.0
dtype: float64

In [25]:
data=pd.DataFrame(np.arange(24).reshape((6,4)),
                  index=['ohio','Dallas','Bostin','Nj','new york','austin'],
                  columns=['one','two','three','four'])
data

          one  two  three  four
ohio        0    1      2     3
Dallas      4    5      6     7
Bostin      8    9     10    11
Nj         12   13     14    15
new york   16   17     18    19
austin     20   21     22    23

In [26]:
data<5
data[data<5]=0
data

          one  two  three  four
ohio        0    0      0     0
Dallas      0    5      6     7
Bostin      8    9     10    11
Nj         12   13     14    15
new york   16   17     18    19
austin     20   21     22    23

In [27]:
df1=pd.DataFrame({'A':[1,2,3],'B':[4,5,6]})
df2=pd.DataFrame({'A':[7,8,9],'B':[10,24,17]})
print(df1)
print(df2)

   A  B
0  1  4
1  2  5
2  3  6
   A   B
0  7  10
1  8  24
2  9  17

In [29]:
print("\nSub:\n",df1-df2)

Sub:
    A   B
0 -6  -6
1 -6 -19
2 -6 -11

In [31]:
print("\nDivision:\n",df1/df2)

Division:
           A         B
0  0.142857  0.400000
1  0.250000  0.208333
2  0.333333  0.352941

In [33]:
df3=pd.DataFrame({'A':[1,2,3],'B':[4,5,6]},index=[0,1,2])
df4=pd.DataFrame({'B':[7,2,4],'c':[10,20,112]},index=[1,2,3])
print(df3)
print(df4)

   A  B
0  1  4
1  2  5
2  3  6
   B    c
1  7   10
2  2   20
3  4  112

In [34]:
obj=pd.Series(range(4),index=['d','a','b','c'])
df_sort_series=obj.sort_index()
print(df_sort_series)

a    1
b    2
c    3
d    0
dtype: int64

In [36]:
obj=pd.Series([7,-5,7,3,2,0,4])
df_rank=obj.rank()
print("Rank\n",df_rank)

Rank
 0    6.5
1    1.0
2    6.5
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64